{{ partial "header.html" . }}

<meta name="Description" content="{{ .Title }}">

<body>
  {{ partial "top_menu_nav.html" . }}

  <div class="container post" >
    <h1 itemprop="headline">{{ .Title }}</h1>
    <span>

      <div class="taglist">
        {{ if isset .Params "tags" }} 
        Tags: 
        {{ end }}

        {{ range .Params.tags }}
        <a href=/tags/{{ .}}>{{ .}}</a>
        {{ end }}
      </div>

      <hr/>

      {{ .Content }}
  </div>

  {{ partial "footer.html" . }}
</body>


