[submodule "subprojects/wedding"]
	path = subprojects/wedding
	url = git@github.com:zunayed/wedding.git
[submodule "subprojects/noisyNYC"]
	path = subprojects/noisyNYC
	url = git@github.com:zunayed/noisyNYC.git
