<!doctype html>
<html lang="en-US">
	<meta charset="utf-8">
	<title>Zunayed Ali</title>
	<link rel="canonical" href="https://zunayed.dev/">
	<meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
	<meta name="Description" content="Zunayed Ali Morsalin's website">

	<link rel="icon" href="https://zunayed.dev/favicon.ico" type="image/x-icon">


	<!-- Homepage CSS -->
	<link rel="stylesheet" href="/css/site_wide.css" type="text/css" media="screen, projection" />

	<link href="https://fonts.googleapis.com/css?family=Inconsolata|Merriweather" rel="stylesheet">
