{{ partial "header.html" . }}

<body id="index">
	<div class="container">

		<p class="about">
			My name is <b class="header-name">Zunayed Ali Morsalin</b> and I’m an engineer that grew up in Brooklyn. This is a place to store ideas and projects. 
		</p>

		{{ range .Sections}}
		<hr/>
		<h3>{{ .Title }}</h3>
		<ul id="post-list">
			{{ range .Pages }}
			<li>
				› <a href="{{ .RelPermalink}}">{{ .Title }}</a>
				<!--><div>[{{ with .Params.tags }}{{ delimit . ", " }}{{ end }}]</div>A-->
			</li>
			{{ end }}
			<ul>
			</ul>
		</ul>
		{{ end }}




</body>

{{ partial "footer.html" . }}
